@import url(bootstrap.min.css);

@font-face {
  font-family: 'Didact Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Didact Gothic Regular'), local('DidactGothic-Regular'), url(fonts/didact-gothic.woff2) format('woff2');
}

@font-face {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  src: local('Titan One'), local('TitanOne'), url(fonts/titan-one.woff2) format('woff2');
}

body, .jumbotron, .footer, .text-muted {
  background: #223 !important;
  color: #fff !important;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 18pt;
  width: 100% !important;
}

.footer {
  padding: 20px;
}

.navbar {
  display: none;
}

h1, h2, h3, a, a:visited, a:hover, a:active {
  color: rgb(254, 83, 225) !important;
}

h1, h2, h3 {
  font-family: 'Titan One', cursive;
}

h1 {
  font-size: 72pt;
}

h2 {
  font-size: 36pt;
}

.bigger {
  font-size: 36pt;
  line-height: 1;
}
.scrollbutton {
  text-align: center;
  margin-bottom: 50vh;
  font-size: 400%;
  line-height: 0;
  padding-top: 30px;
}
.scrollbutton a, .scrollbutton a:hover, .scrollbutton a:active, .scrollbutton a:visited
{
  color: #fff !important;
  text-decoration: none;
}

.navhead {
  padding: 15px;
}

.clear {
  margin-top: 97vh;
}

@media(min-width:800px) {
  h1 {
    padding-left: 120px;
    background: #223 url(https://web.koyu.space/img/pb-icon.svg) no-repeat left/120px auto;
    padding-bottom: 0;
    margin-bottom: 60px;
  }
}

@media(max-width:800px) {
  h1 {
    font-size: 36pt;
    text-align: center;
  }
  p, li, .footer, .text-muted {
    font-size: 11pt !important;
  }
  h2 {
    font-size: 18pt !important;
  }
  .jumbotron {
    margin: 2px;
    margin-top: 30px;
    padding: 0;
  }
}

#intro {
  padding-top: 60px;
}

#next .navhead {
  margin-left: -10px !important;
  padding: 16px;
  position: fixed;
  background: #223;
  width: 100%;
}

.navhead + .content {
  padding-top: 66px;
}

section {
  margin-bottom: 1em;
}

footer {
  padding: 60px;
  padding-bottom: 20px;
}

#info h2 {
  color: #fff !important;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 18pt;
  margin-top: -50px;
  margin-bottom: 60px;
  font-weight: bold;
}

#info h2:before {
  content: "Notice: ";
}